html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  font-size: 16.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:focus {
  box-shadow: none !important;
}

.cta-pulse {
  animation: cta-pulse-animation 2s infinite;
}

@keyframes cta-pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(3, 98, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(3, 98, 255, 0);
  }
}
